server:
    port: 0
http:
    mappers:
        jsonPrettyPrint: true
spring:
    hadoop:
        fsUri: hdfs://node1:8020
        resourceManagerHost: node1
        config:
            topology.script.file.name: /usr/local/hadoops/topology.sh
    yarn:
        appType: BOOT
        appName: gs-yarn-uimodel
        applicationBaseDir: /app/
        xapplicationDir: /app/gs-yarn-uimodel/
        appmaster:
            appmasterClass: org.springframework.yarn.am.cluster.ManagedContainerClusterAppmaster
            keepContextAlive: true
            containercluster:
                enabled: true
                clusters:
                    cluster1:
                        projection:
                            type: default
                            data:
                                any: 1
                        resource:
                            priority: 10
                            memory: 1g
                            virtualCores: 1
                        launchcontext:
                            locality: false
                            archiveFile: gs-yarn-uimodel-cont1-0.1.0.jar
                        localizer:
                            patterns:
                                - "*cont1*jar"
                    cluster2:
                        resource:
                            priority: 20
                            memory: 64
                            virtualCores: 1
                        launchcontext:
                            locality: true
                            archiveFile: gs-yarn-uimodel-cont2-0.1.0.jar
                        localizer:
                            patterns:
                                - "*cont2*jar"
                    cluster3:
                        resource:
                            priority: 30
                            memory: 64
                            virtualCores: 1
                        launchcontext:
                            locality: false
                            archiveFile: gs-yarn-uimodel-cont3-0.1.0.jar
                        localizer:
                            patterns:
                                - "*cont3*jar"
        endpoints:
            containercluster:
                enabled: true
