server:
    port: 0
http:
    mappers:
        jsonPrettyPrint: true
spring:
    hadoop:
        fsUri: hdfs://node1:8020
        resourceManagerHost: node1
    yarn:
        appType: GS
        appName: gs-yarn-uimodel
        applicationBaseDir: /app/
        applicationDir: /app/gs-yarn-uimodel/
        appmaster:
            appmasterClass: org.springframework.yarn.am.cluster.ManagedContainerClusterAppmaster
            containerCount: 1
            keepContextAlive: true
            launchcontext:
                locality: true
                archiveFile: gs-yarn-uimodel-container-0.1.0.jar
            containercluster:
              ? cluster1
              : ? resource
                : priority: 1
                  memory: 64
                  virtualCores: 1
                ? launchcontext
                : locality: true
              ? cluster2
              : ? resource
                : priority: 2
                  memory: 64
                  virtualCores: 1
                ? launchcontext
                : locality: true
              ? cluster3
              : ? resource
                : priority: 3
                  memory: 64
                  virtualCores: 1
                ? launchcontext
                : locality: false
        endpoints:
            containercluster:
                enabled: true
